* {
  box-sizing: border-box;
}

.timeline-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 65vw;
}

.top-left-container {
  width: calc(65vw - 800px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.top-left-container button,
.category-name button {
  padding: 8px 8px 4px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}

.top-left-container button:hover,
.category-name button:hover {
  background-color: rgb(217, 232, 246);
}

.top-left-container button:disabled,
.category-name button:disabled {
  opacity: 0.5;
}

.top-left-container button:disabled:hover,
.category-name button:disabled:hover {
  background-color: white;
}

.top-left-container button:active,
.category-name button:active {
  background-color: rgb(184, 213, 240);
}

.timeline {
  width: 798px;
  /* border: 1px solid black; */
  /* border-left: 1px solid black; */

  position: relative;
}

.timebar {
  position: absolute;
  z-index: 999;
  top: 50px;
}

.time-bar {
  position: absolute;
  top: 0;
  left: -8px;
  z-index: 999;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid #f00;
  position: relative;
}

.line {
  height: 300px;
  border-left: 2px solid red;
  position: absolute;
  left: -0.5px;
  top: -4px;
}

.annotation-container {
  /* display: flex;
  justify-content: space-between; */
  width: 65vw;
  height: 250px;
}

.annotation-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.category-name {
  width: calc(65vw - 800px);
  /* text-align: center; */
  /* width: 65vw - 800px; */

  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.category-name button {
  /* height: 24px; */
  padding: 8px 12px;
}

.annotations {
  width: 800px;
  border-left: 1px solid black;

  position: relative;
  overflow: hidden;
}

.annotation:hover {
  border: 3px solid rgb(121, 121, 239);
}
