* {
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .timeline-container {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* width: 65vw; */
  }

  .top-left-container {
    /* width: calc(65vw - 800px); */
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .top-left-container button,
  .category-name button {
    padding: 8px 8px 4px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
  }

  .top-left-container button:hover,
  .category-name button:hover {
    background-color: rgb(217, 232, 246);
  }

  .top-left-container button:disabled,
  .category-name button:disabled {
    opacity: 0.5;
  }

  .top-left-container button:disabled:hover,
  .category-name button:disabled:hover {
    background-color: white;
  }

  .top-left-container button:active,
  .category-name button:active {
    background-color: rgb(184, 213, 240);
  }

  .timeline-slider {
    width: 650px;

    position: relative;
  }

  .timebar {
    position: absolute;
    z-index: 999;
    top: 50px;
  }

  .timeline {
    height: 24px;
    width: 650px;
  }

  .annotation-container {
    width: 800px;
    height: 200px;
    /* border: 1px solid black; */
  }

  .annotation-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* justify-content: space-between; */
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
  }

  .category-name {
    /* width: calc(65vw - 800px); */
    width: 150px;

    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .category-name p {
    font-size: 14px;
  }

  .category-name button {
    padding: 8px 12px;
  }

  .annotations {
    width: 650px;
    border-left: 1px solid black;

    position: relative;
    overflow: hidden;
  }

  .annotation:hover {
    border: 3px solid rgb(121, 121, 239);
  }

  /* .scroll-bar-container {
    display: flex;
  }

  .scroll-bar-track {
    background-color: rgb(217, 232, 237);
    width: 650px;
    height: 24px;
    position: relative;
  }

  .scroll-thumb {
    background-color: #999;
    height: 24px;
  } */
}

@media (min-width: 1200px) {
  .timeline-container {
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* width: 65vw; */
  }

  .top-left-container {
    /* width: calc(65vw - 800px); */
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .top-left-container button,
  .category-name button {
    padding: 8px 8px 4px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
  }

  .top-left-container button:hover,
  .category-name button:hover {
    background-color: rgb(217, 232, 246);
  }

  .top-left-container button:disabled,
  .category-name button:disabled {
    opacity: 0.5;
  }

  .top-left-container button:disabled:hover,
  .category-name button:disabled:hover {
    background-color: white;
  }

  .top-left-container button:active,
  .category-name button:active {
    background-color: rgb(184, 213, 240);
  }

  .timeline {
    width: 798px;

    position: relative;
  }

  .timeline-slider {
    width: 800px;
  }

  .timebar {
    position: absolute;
    z-index: 999;
    top: 50px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 8px solid #f00;
    position: relative;
  }

  .line {
    height: 300px;
    border-left: 2px solid red;
    position: absolute;
    left: -0.5px;
    top: -4px;
  }

  .annotation-container {
    /* width: 65vw; */
    width: 1000px;
    height: 230px;
    /* height: calc(100vh - 450px); */
  }

  .annotation-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  .category-name {
    /* width: calc(65vw - 800px); */
    width: 200px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  .category-name button {
    padding: 8px 12px;
  }

  .annotations {
    width: 800px;
    border-left: 1px solid black;

    position: relative;
    overflow: hidden;
  }

  .annotation:hover {
    border: 3px solid rgb(121, 121, 239);
  }
}
