/* input {
  width: 614.4px;
  margin-top: 12px;
} */

.mini-timeline {
  border-top: 2px solid black;
  position: relative;
  margin-top: 8px;
}

.zone-indicator {
  height: 64px;
  border: 2px solid red;
  position: absolute;
}

.left-bracket {
  position: absolute;
  border-left: 3px solid blue;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
  padding: 20px 5px 20px 5px;
  top: -24px;
}
.right-bracket {
  position: absolute;
  border-right: 3px solid blue;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
  padding: 20px 5px 20px 5px;
  top: -24px;
}

.tick-container {
  display: flex;
  justify-content: space-between;
}

.tick {
  position: relative;
}

.tick div {
  height: 8px;
  border-left: 2px solid black;
}

.tick p {
  margin: 0;
}
