.icon-div img {
  height: 20px;
}

.icon-div img:hover {
  transform: scale(1.1);
  box-shadow: inset;
}

.img-container {
  width: 20px;
}

.controls {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 36px;
  position: relative;
}

.icon-div {
  width: 20px;
}

.video-info {
  position: absolute;
  right: 0;
  bottom: 0;
}

.video-info p {
  margin: 0;
  text-align: right;
}
