@media (min-width: 992px) {
  .empty {
    width: 150px;
  }

  .scroll-bar-container {
    display: flex;
  }

  .scroll-bar-track {
    background-color: rgb(235, 235, 235);
    width: 650px;
    height: 18px;
    position: relative;
    border: 1px solid black;
  }

  .scroll-thumb {
    background-color: #999;
    height: 16px;
  }
}

@media (min-width: 1200px) {
  .empty {
    width: 200px;
  }

  .scroll-bar-track {
    width: 800px;
  }
}
