.container {
  width: 20vw;
  /* margin-left: 24px; */
  border: 2px solid black;
  border-radius: 8px;
}

.inner-container {
  margin: 12px 32px;
}

.deselect {
  text-align: right;
  padding-top: 8px;
}

.deselect:hover {
  text-decoration: underline;
}

.annotation-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
  margin-top: 12px;
}

.annotation-descriptor {
  display: flex;
  gap: 8px;
}

.annotation-descriptor p {
  margin: 0;
}

.radio-form {
  margin-bottom: 12px;
}

.radio-form p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.radio-form form {
  margin-left: 12px;
}

.radio-btn {
  margin-bottom: 4px;
}

.comment-label-container {
  margin-bottom: 8px;
}

.comments {
  /* height: 72px; */
  height: 64px;
  border-bottom: 1px solid black;
}

.comments div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.comments button {
  height: 20px;
}

.comments input {
  height: 20px;
}

.comments p {
  margin-bottom: 8px;
}

.edit-input {
  margin-bottom: 8px;
  /* margin-left: 16px; */
}

.button-container {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button-container button {
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}

.button-container button:hover {
  background-color: rgb(217, 232, 246);
}

.button-container button:disabled:hover {
  background-color: white;
}

.button-container button:active {
  background-color: rgb(184, 213, 240);
}

.button-container button:disabled {
  opacity: 0.5;
}
